<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

    <nav class="navbar navbar-default" th:fragment="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/photo">simpleTeam</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/photo">Home</a></li>
                <li><a href="/photo/original">Original</a></li>
                <li><a href="/photo/wh/250x250">By size mask</a></li>
                <li><a href="/photo/row/10">By count</a></li>
                <li><a href="/photo/blackbackground">Black background</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>