<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <object th:replace="fragments/head :: head" th:remove="tag"></object>
    </head>

    <body style="background-color: black">
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="section">
            <div class="container" style="margin-top: 50px">
                <div class="row">
                    <div th:each="photo, iterStat : ${photos}" class="col-md-3" style="padding-bottom: 25px; padding-top: 25px">
                        <img th:src="'/photo/' + ${iterStat.index}" class="img-rounded" width="200" height="200"/>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>