<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <object th:replace="fragments/head :: head" th:remove="tag"></object>
    </head>

    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="section">
            <div class="container" style="margin-top: 50px">
                <div class="row">
                    <div th:each="photo, iterStat : ${photos}" class="img-thumbnail">
                        <img th:src="'/photo/' + ${iterStat.index}" class="img-rounded" th:width="${sizeX}" th:height="${sizeY}"/>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>